@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* 
FONTS
font-family: "Bebas Neue", sans-serif;
font-family: "Inter", sans-serif;

*/

:root {
    --white: #FFFFFF;
    --neon-green: #A0FF00;
    --red: #FF3333;
    --dark-blue-background-color: #000002;
    --midnight-secondary-background-color: #1B1F23;
    --dark-navy-blue: #0D0E1F;

} 